.bgimg{
    background-image: url("images/Cover\ photo.jpg") !important;
    background-size: 100% 100% !important;
    background-attachment: fixed !important;
    width: 100% !important;
    height: 650px !important;
}
.covertitle{
    padding-top: 120px !important;
box-sizing: border-box !important;
}
.covertitle h2{
    font-size: 35px;
}
.covertitle h1{
    font-size: 70px;
    font-weight: bolder;
    
}

.covertitle input{
width: 250px !important;
}

/* ....................service............. */
.ourservice{
    padding: 100px 0px 50px 0px;
    height: 700px !important;
}
.ourservice h1{
    font-size: 50px;
    font-weight: bold;
}
.rowsetting{
margin: 80px !important;
}
.rowsetting h2{
    font-weight: bold !important;
    margin-top: 20px !important;
    font-size: 30px !important;
}

.iconsetting{
    border-radius: 50px !important;
    width: 70px !important;
    height: 70px !important;
    background-color: rgb(24, 24, 177);
}
.iconmargin{
    padding: 10px 0px 2px 0px;
}









