 body{ 
    background-color: #ecf0f1; 
}


/* header */
#header{
    background-image: url("./images/Power\ Distribution.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

#navbar{
    background-color: rgba(44,62,80,0.7);
}
#navbarlogo{
    margin-left: 10px;
    font-weight: bolder;
    font-size: 25px;
    color: white;
}
#navmenu a{
    color: white;
    font-weight: bold;
}

#navmenu li a:hover{
 background-color: rgb(52,73,94);
}
#coverheading{
    margin-top: 200px;
    padding-bottom: 200px;
}
/* ............................. */
@media(max-width:565px){
#coverheading h1{
  font-weight: lighter;
  font-size: 30px;
}
}
@media(max-width:441px ){
    #coverheading h1{
        font-weight: lighter;
        font-size: 20px;
      }   
}
/* ............................... */
#coverheading p{
     font-size: 70px;
}
@media(max-width:764px){
    #coverheading p{
        font-size: 55px;
   }   
}
@media(max-width: 606px){
    #coverheading p{
        font-size: 40px;
   }   
}
@media(max-width: 441px){
    #coverheading p{
        font-size: 30px;
   }   
}
/* ................................. */

#coverheading i.fa{
    background-color: white;
    color:black;
    display: inline-block;
}

#coverheading input{
    width: 250px;
}
/* End................ */

#servicebox{
    margin-top: 40px;
}
#servicebox h1{
font-weight: bolder;
font-size: 60px;
}
#servicebox h2{
   font-weight: bold;
}
#servicebox div.iconbackground{
    border-radius: 50px;
    background-color: blue;
    width: 70px;
    height: 70px;   
}
#servicebox i.iconsize{
    padding: 10px 0px 10px 0px;
}
#servicebox div.subservicebox{
    margin-top: 40px;
    margin-bottom: 50px;
}
/* End............ */
.articlesrow{
    padding-top: 60px !important;
}
.Articlesunderline{
   text-decoration: none !important;
   color:black !important;
}
.Articlesunderline:hover{
    color: blue !important;
}
.Articlesunderline h4{
    font-weight: bold !important;
}
/* ...............End....................... */

#footer{
    margin-top: 40px;
    background-color: rgba(44,62,80,0.8);
}

#footer div.followus{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 35px;
    text-align: justify;

}
#footer li a i{
    color: whitesmoke;
}

#footer li a i:hover{
    color: gray;
}
#footer div.getlatestupdate{
    font-weight: bolder;
 font-size: 35px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: whitesmoke;
}
#footer input{
    width: 300px;
}
#footer div.copyright{
    margin-top: 40px;
}
#footer  h5{
    font-weight: bolder;
    color: grey
}










