body{
    background-color: gray !important;
}

.navbarContent{
    font-weight: bolder !important;
    color: black !important;
}
.nav{
    padding-left: 70px !important;
}
.navbar-brand{
    font-weight: 900 !important;
    font-size: 20px !important;

} 

.cover{
    background-image:url("images/Cover\ photo.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    min-width:100% ;
    height: 500px;
    
}
.jumbotron{
text-align: center !important;
background: transparent !important;
color: white !important;
margin-top: 70px;
}
.formcontrol{
    margin-top: 11px !important;
}
.search{
    width: 300px !important;
}